#currentAmountsTable {
    margin-top: 50px;
}

#currentAmountsTable input {
    width: 120px;
    text-align: right;
}

#currentAmountsTable th {
    background-color: #ececec;
}

#currentAmountsTable td {
    text-align: right;
}

#buyAmountsTable {
    margin-top: 50px;
}

#buyAmountsTable input {
    width: 220px;
    text-align: right;
}

#buyAmountsTable th {
    background-color: #ececec;
}

#buyAmountsTable td {
    text-align: right;
    padding: 0 5px;
}

#fruitsTable {
    margin-top: 50px;
}

.fruitTierRadio {
    display: none;
}

.fruitTierRadioLabel {
    display: inline-block;
    width: 20px;
    text-align: center;
    border: solid 1px #333;
}

.fruitTierRadioLabel:hover {
    background-color: #ececec;
}

.fruitTierRadio:checked + label {
    background-color: #ff0;
}

#dcTable {
    margin-top: 50px;
}

#dcTable th {
    background-color: #ececec;
}

#dcTable td {
    width: 110px;
    text-align: center;
}

#dcTable input[type=text] {
    text-align: right;
    border: none;
    background-color: rgb(255, 255, 187);
    box-shadow: 0 0 1px 1px #ececec inset;
}