#currentAmountsTable {
    margin-top: 50px;
}

#currentAmountsTable input {
    width: 120px;
    text-align: right;
}

#currentAmountsTable th {
    background-color: #ececec;
}

#currentAmountsTable td {
    text-align: right;
}

#buyAmountsTable {
    margin-top: 50px;
}

#buyAmountsTable input {
    width: 220px;
    text-align: right;
}

#buyAmountsTable th {
    background-color: #ececec;
}

#buyAmountsTable td {
    text-align: right;
    padding: 0 5px;
}

#fruitsTable {
    margin-top: 50px;
}

.fruitTierRadio {
    display: none;
}

.fruitTierRadioLabel {
    display: inline-block;
    width: 20px;
    text-align: center;
    border: solid 1px #333;
}

.fruitTierRadioLabel:hover {
    background-color: #ececec;
}

.fruitTierRadio:checked + label {
    background-color: #ff0;
}